// Mixin for media-queries
@mixin for-mobile-layout {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

// Mixins for icons
@mixin fab {
  font-family: fab;
}

@mixin fas {
  font-family: fas;
}

@mixin far {
  font-family: far;
}
